header {
    background: lightgrey;
    display: flex;
    height: 100px;
    width: 100%;
    border: solid 1px gray;
}

.avanced-menu {
    display: flex;
    height: 100px;
    width: 25%;
}

.logo {
    display: flex;
    height: 100px;
    width: 25%;
}

.empty {
    display: flex;
    height: 100px;
    width: 15%;
}

.nav-links{
    display: flex;
    height: 100px;
    width: 200px;
}

.nav-links a {
    text-decoration: none;
}

.rooms{
    display: flex;
    width: 100px;
    height: 100px;
    text-decoration: none;
    } 
    
.gallery {
    display: flex;
    width: 100px;
    height: 100px;
    text-decoration: none;
}

a:hover {
    color: grey;
    
}

img  {
    display: flex;
    height: 100px;
    width: 100%; 
}






