*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

 h1  {
    text-align: center;
}

h2 { 
    text-align: center; 
}

section + h1 {
    text-align: center;
}

p {
    margin-left: 2px;
}

span {
    margin-left: 1px;
}

/* header */

header {
    background: lightgrey;
    display: flex;
    height: 50px;
    width: 100%;
    border: solid 1px gray;
}

.avanced-menu {
    display: flex;
    height: 50px;
    width: 15%;
}

.logo {
    display: flex;
    height: 50px;
    width: 25%;
}

.empty {
    display: flex;
    height: 50px;
    width: 15%;
}

.nav-links{
    display: flex;
    height: 50px;
    width: 200px;
}

.nav-links a {
    text-decoration: none;
}

.rooms{
    display: flex;
    width: 100px;
    height: 50px;
    text-decoration: none;
    } 
    
.gallery {
    display: flex;
    width: 100px;
    height: 50px;
    text-decoration: none;
}

.sign-in {
    display: flex;
    width: 100px;
    height: 50px;
    text-decoration: none;
}

a:hover {
    color: grey;
    
}

img  {
    display: flex;
    height: 50px;
    width: 50%;
}

/* main part */

main {
    display: flex;
    width: 100%;
    height: 500px;
    background: rgba(194, 186, 186, 0.993);
}

.container_section {
    display: flex;
    height: 500px;
    width: 220px;
}

.row_section {
    display: flex;
    flex-direction: column;
    
}

.sect1 , .sect2 {
    display: flex;
    height: 250px;
    width: 200px;
    padding: 5px 4px 4px 4px;
    border: 1px solid gray;
}

.title_central {
    display: flex;
    justify-content: center;
    background: rgba(153, 136, 136, 0.993);
    height: 45px;
}

aside {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    height: 500px;
    width: 350px;
    border: 1px solid gray;
    background: rgba(194, 236, 194, 0.993);
}



.aside_img {
    display: flex;
    align-items: center;
    justify-content: center;
    background: whitesmoke;
}

.fire {
    display: flex;
    align-items: center;
    justify-content: center;
}

.aside_subtit {
    display: flex;
    align-items: center;
    justify-content: center;
}

.aside_text {
    padding: 3px;
}

.central_content img {
    width: 59%;
    height: 200px;
}

.enricco > img {
    display: flex;
    margin: 20px 0px 10px 120px;
    
}
.enricco {
    background: rgba(61, 59, 59, 0.993);
}

.articles {
    margin-left: 15px;
    margin-right: 5px;
}

.input_email {
    margin: 5px;
    margin-left: 15px;
    border: 1px solid gray;
    background: lightgrey;
    border-radius: 5px;
}

.label1 , .label2 {
    padding: 5px;
    margin-left: 15px;
}

.btn {
    display: flex;
    justify-content: center;
    background: rgba(151, 141, 141, 0.993);
    border:1px solid rgba(61, 59, 59, 0.993);
    border-radius: 5px;
}


.footer {
    display: flex;
    align-items: baseline;
    justify-content: center;
    height: 120px;
    width: 100%;
    border: 1px solid gray;
    background: rgba(241, 238, 238, 0.993);
}








